nasa_api:
  key: 'YOUR KEY'
openweather_api:
  key: 'YOUR KEY'
postgres:
  user: YOUR_POSTGRES_USER
  password: YOUR_POSTGRES_PASSWORD
# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: some_long_key
