nasa_api:
  key: 'YOUR KEY'
openweather_api:
  key: 'YOUR KEY'

development:
  cockroach:
    username: root

test:
  postgres:
    user: YOUR_POSTGRES_USER
    password: YOUR_POSTGRES_PASSWORD

production:
  cockroach:
    username: SOME_USERNAME
    password: SOME_PASSWORD

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: some_long_key
